$primary-color: #444;
$secondary-color: #eece1a;
$show-home-image: true;
$home-image: url(../img/background.jpg);
$background-opacity: 0.7;

@mixin easeOut {
  transition: all 3s ease-out;
}

@mixin background {
  @if $show-home-image {
    &#bg-img {
      background-image: $home-image;
      background-attachment: fixed;
      background-size: cover;
      &:before {
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        background: rgba($primary-color, $background-opacity);
        z-index: -1;
      }
    }
  }
}
