@import "config";
@import "menu";

* {
  box-sizing: border-box;
}

body {
  @include background;
  background: $primary-color;
  color: spremeni-barvo-teksta($primary-color);
  min-height: calc(100vh-1rem);
  margin: 0;
  line-height: 1.5;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;

  &.lg-heading {
    font-size: 6rem;
  }
  &.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2em 0.3em;
    background: lighten(rgba($primary-color, 0.5), 2);
  }
}

a {
  text-decoration: none;
  color: #fff;
}
header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.secondary-text {
  color: $secondary-color;
}
main {
  padding: 4rem;
  height: 100%;
  &#home {
    overflow: hidden;
    h1 {
      margin-top: 20vh;
    }
  }

  .icons {
    margin-top: 1rem;
    a {
      padding: 0.6rem;
      margin: 0rem 0.3rem;
      text-decoration: none;
      color: $secondary-color;

      &:visited {
        color: $secondary-color;
      }

      &:hover {
        color: red;
        @include easeOut();
      }
    }
  }
}
.bio-info {
  display: grid;
  grid-template-areas:
    "profileimg bio bio"
    "job1 job2 job3";
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  grid-gap: 1em;
  justify-content: center;
}
.profile_img {
  grid-area: profileimg;
  margin: auto;
  border-radius: 50%;
  border: 3px solid $secondary-color;
  grid-auto-rows: auto;
}
.bio-desc {
  grid-area: bio;
  font-size: 1.3rem;
  font-weight: 300;
}
.job {
  background: lighten($color: $primary-color, $amount: 5);
  padding: 1rem;
  border-bottom: 3px solid $secondary-color;
  margin: 1rem 0;
  grid-auto-rows: 30vw auto;
}

.job1 {
  grid-area: job1;
}
.job2 {
  grid-area: job2;
}
.job3 {
  grid-area: job3;
}
#main-footer {
  text-align: center;
  padding: 0.5rem;
  background: darken($color: $primary-color, $amount: 10);
  color: spremeni-barvo-teksta($primary-color);
}

@import "mobile";
